/* TODO - add reset.css to project */

/* global selector */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

:root {
  /* theme colours */
  --color-blue: #00a7e1;
  --color-red: #f06449;
  --color-yellow: #ffbc42;
  --color-dark: #0d1f2d;
  --color-light: #f5f5f5;
  --color-yellow-75: rgba(255 188 66 / 75%);

  /* font sizes */

  /* font weights */

  /* line heights */

  /* letter spacings */

  /* border radius */
  --border-radius: 20px;

  /* box shadows */

  /* transition speeds */

  /* z-index */

  /* media queries */

  /* heights */
  --nav-height-large: 3.5rem;
  --nav-height-small: 3rem;

  /* padding */
  --grid-padding: 1rem;

  /* other */
}

body {
  font-family: "Roboto Slab", Roboto, system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-dark);
  color: var(--color-dark);
}

/* navigation styles */
.header-container {
  background-color: var(--color-dark);
  /* text-align: center; */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: var(--nav-height-small);
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.75rem;
  align-items: baseline;

  /* padding-top: 0.5em; */
  margin-left: 3.5rem;

  /* padding-bottom: 0.5rem; */
  height: var(--nav-height-small);
  overflow: hidden;
}

.logo {
  color: var(--color-red);
  font-weight: 400;
  font-size: 1.25rem;
}

.logo-tagline {
  color: var(--color-light);
  font-weight: 300;
  font-size: 1rem;
  padding-left: 1em;
}

/* responsive navigation toggle - hide it by moving out of the screen but allow it to be tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 2px solid var(--color-yellow-75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* create a hamburger menu icon */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: white; /* TODO - change to theme color */
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

nav ul {
  margin: 0;
  padding-top: 2px;
  list-style: none;
  background-color: var(--color-dark );
}

nav li {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  border-bottom: var(--color-light) 1px solid;
}

nav a {
  color: var(--color-light);
  text-decoration: none;
  font-size: 1rem;
  
  /* text-transform: uppercase; */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--color-yellow);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 50ms;
}

/* set up the main enclosing grid with the aside on top and the main portfolio section below */
.main-grid {
  padding-top: var(--nav-height-small);
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  /* flex-grow: 1; */
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
}

.main-aside {
  /* set up this item within the flex grid */
  width: 100%;
  /* TODO - change to theme color */
  background-color: var(--color-light);
  /* border-color: #f06449; */
  border-style: solid;
  border-width: 3px;
  text-align: left;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* make this element sized to the content */

  /* set up the grid to contain items */

  /* display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start; */
}

aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-blue);
  border-radius: 20px;
}

figcaption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-dark);
  padding-top: 0.5ch;
}

figure p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-dark);
}

.intro img {
  max-width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-color: var(--color-yellow);
  border-width: 3px;
  border-style: solid;
  filter: drop-shadow(1px 1px 0.25rem var(--color-yellow));
}

.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: var(--color-light);
  padding: 0.5rem;
}

.summary-card h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-red);
  margin-bottom: 0.5rem;
}

.summary-card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 0;
  background-color: var(--color-light);
}

.summary-card-content p,
.summary-card-content a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-dark);
  margin-left: 0.5rem;
  text-decoration: none;
}

.summary-card-content p:hover,
.summary-card-content a:hover {
  /* color: var(--color-yellow); */
  font-weight: 500;
  cursor: pointer;
}

.summary-card-icon,
.summary-card-icon svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  fill: var(--color-blue);
}

.summary-card-icon a {
  margin-left: 0;
  padding: 0;
}

.summary-card-icon[data-is-link="true"]:hover svg {
  fill: var(--color-yellow);
  width: 1.4rem;
  margin-right: 0.8rem;
  transform: rotate(8deg);
  cursor: pointer;
}

.summary-card-content li {
  padding-left: 1rem;
  list-style-type: none;
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}

/* format the main portfolio section as a Grid with two columns */
.main-portfolio {
  background-color: var(--color-dark);

  /* make this element expand to the rest of the screen */
  flex: 1 0 auto;
  text-align: left;

  /* set up the grid to contain items */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
}

.article-about {
  width: 100%;
  display: flex;
  border: #ffbc42 solid 2px;
  padding-top: 1rem;
}

.article-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-hero {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 0.5rem var(--color-blue);
}

.project {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "title title"
  "info screenshot";
  column-gap: 0.5rem;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 0.5rem var(--color-blue);
  margin-top: 1rem;
}

.project-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* TODO - change in large screen */
  align-items: center;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.project-title {
  grid-area: title;
  color: var(--color-light);
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: var(--color-dark) 0 0 0.15rem;
  text-align: center;
}

.project-tech,
.project-tech a {
  font-style: italic;
  align-self: flex-start;
  text-decoration: none;
  color: var(--color-dark);
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.project-tech span {
  font-style: normal;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: var(--color-dark) 0 0 0.25rem;
}

.project img {
  grid-area: screenshot;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.project-hero img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  justify-self: center;
  padding: 1rem;
}

.article-contact {
  display: flex;
  border: #ffbc42 solid 2px;
}

.article-resume {
  display: flex;
  border: #ffbc42 solid 2px;
}
