/* TODO - add reset.css to project */

/* global selector */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

/* set up the root variables for the theme colours, border radius and other sizing */
:root {
  /* theme colours */
  --color-blue: #00a7e1;
  --color-red: #f06449;
  --color-yellow: #ffbc42;
  --color-dark: #0d1f2d;
  --color-light: #f5f5f5;
  --color-yellow-75: rgba(255 188 66 / 75%);
  --color-light-trns: rgba(245 245 245 / 50%);

  /* border radius */
  --border-radius: 20px;

  /* heights */
  --nav-height-large: 3.5rem;
  --nav-height-small: 3rem;

  /* padding, gaps, etc */
  --standard-spacing: 1rem;

  /* site sizing */
  --max-width: 1200px;
  --aside-min-width: 300px;
  --aside-max-width: 500px;

  /* fonts and svg */
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --large-font-size: 1.5rem;
  --svg-normal-size: 1.2rem;
  --svg-hovered-size: 1.4rem;
}

/* fix scroll padding for anchor links due to 'fixed' navigation bar */
html {
  scroll-padding-top: var(--nav-height-large);
  font-size: 16px;
}

/* set some default styles for the page
font is from google fonts */
body {
  font-family: "Roboto Slab", Roboto, system-ui, sans-serif;
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-dark);
}

/* navigation bar 
inspired by Kevin Powell https://youtu.be/8QKOaTYvYUA */
.header-container {
  background-color: var(--color-dark);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: var(--nav-height-small);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: var(--nav-height-small);
  overflow: hidden;

}

/* simple Logo and tagline */
.logo {
  color: var(--color-red);
  font-weight: 400;
  font-size: 1.25rem;
}

.logo-tagline {
  color: var(--color-light);
  font-weight: 300;
  font-size: var(--normal-font-size);
  padding-left: 1em;
}

/* responsive navigation toggle - hide it by moving out of the screen but allow it to be tabbable
 uses a checkbox to avoid the need for javascript */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 2px solid var(--color-yellow-75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* create a hamburger menu icon */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  width: var(--large-font-size);
  height: 2px;
  background-color: var(--color-light);
  border-radius: 2px;
  position: relative;
}

/* set the absolute position for correct display and usage */
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* top bar navigation elements */
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

nav ul {
  margin: 0;
  padding-top: 2px;
  list-style: none;
  background-color: var(--color-dark);
}

nav li {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  border-bottom: var(--color-light) 1px solid;
}

nav a {
  color: var(--color-light);
  text-decoration: none;
  font-size: var(--normal-font-size);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--color-yellow);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 50ms;
}

/* main content grid
set up the main enclosing grid with the aside on top and the main portfolio section below
and adjust to side-by-side with media queries later for larger screens */
.main-grid {
  padding-top: var(--nav-height-small);
  display: flex;
  flex-direction: column;
  min-width: var(--aside-min-width);
  max-width: var(--aside-max-width);
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--standard-spacing);
}

/* Summary section: at the top for small screens, on the left for larger screens
   quick information about me and quick links to info */
.main-aside {
  width: 100%;
  background-color: var(--color-light);
  border-style: solid;
  border-width: 3px;
  text-align: left;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--standard-spacing);
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  margin-bottom: var(--standard-spacing);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--standard-spacing);
  background-color: var(--color-blue);
  border-radius: 20px;
}

/* image and caption */
.intro img {
  max-width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-color: var(--color-yellow);
  border-width: 3px;
  border-style: solid;
  filter: drop-shadow(1px 1px 0.25rem var(--color-yellow));
}

figcaption {
  text-align: center;
  font-size: var(--large-font-size);
  font-weight: 400;
  color: var(--color-dark);
  padding-top: 0.5ch;
}

figure p {
  font-size: var(--normal-font-size);
  font-weight: 400;
  text-align: center;
  color: var(--color-dark);
}

/* Summary information in logical sections */
.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: var(--color-light);
  padding: 0.5rem;
}

.summary-card h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-red);
  margin-bottom: 0.25rem;
}

.summary-card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 2px;
  background-color: var(--color-light);
}

.summary-card-content p,
.summary-card-content a {
  font-size: var(--normal-font-size);
  font-weight: 400;
  color: var(--color-dark);
  margin-left: 0.5rem;
  text-decoration: none;
}

.summary-card-content a:hover {
  font-weight: 500;
  cursor: pointer;
}

.summary-card-icon,
.summary-card-icon svg {
  width: var(--svg-normal-size);
  height: var(--svg-normal-size);
  margin-right: var(--standard-spacing);
  fill: var(--color-blue);
}

.summary-card-icon a {
  margin-left: 0;
  padding: 0;
}

/* indicate if the SVG is a link */
.summary-card-icon[data-is-link="true"]:hover svg {
  fill: var(--color-yellow);
  width: var(--svg-hovered-size);
  margin-right: 0.8rem;
  transform: rotate(8deg);
  cursor: pointer;
}

.summary-card-content li {
  padding-left: var(--standard-spacing);
  list-style-type: none;
  font-size: var(--small-font-size);
  font-weight: 400;
  font-style: italic;
}

/* The main section of the portfolio, containing the about me, projects and contact us articles.
This resizes and reorganises the layout for larger screens */
.main-portfolio {
  background-color: var(--color-dark);
  min-width: var(--aside-min-width);
  max-width: var(--aside-max-width);
  flex: 1 0 auto;
  text-align: left;

  /* set up the grid to contain items */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.article-header {
  margin: 0 0 0.5rem; /* reset the default margin in normalize.css */
  color: var(--color-yellow);
  font-size: var(--large-font-size);
  text-shadow: var(--color-dark) 0 0 0.15rem;
  padding-left: var(--standard-spacing);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: var(--color-yellow) solid 2px;
  padding-top: var(--standard-spacing);
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  margin-bottom: var(--standard-spacing);
}

.article-content {
  color: var(--color-light);
  width: 100%;
  padding: 0 var(--standard-spacing) var(--standard-spacing);
}

.article-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-dark);
  border: none;
}

/* unique display for the first project to emphasise it */
.project-hero {
  padding: 0.5rem;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 3fr 1fr;
  grid-template-areas: "title" "screenshot" "info";
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
}

.project-hero:hover,
.project-hero:focus,
.project:hover,
.project:focus:hover {
  background-color: var(--color-yellow);
  color: var(--color-dark);
}

.project-hero-image {
  grid-area: screenshot;
  background-color: var(--color-blue);
  background-image: url("../images/portfolio/admin-dashboard.png");
  background-size: cover;
  background-position: center;
  border: 3px solid var(--color-dark);
  border-radius: 3px;
}

.project-hero-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-dark);
  font-size: var(--large-font-size);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
}

/* standard project display */
.project {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "info screenshot";
  column-gap: 0.5rem;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  margin-top: var(--standard-spacing);
}

.project-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-dark);
  font-size: var(--normal-font-size);
  font-weight: 400;
  text-decoration: none;
  padding: 0.5rem;
}

.project-title {
  grid-area: title;
  color: var(--color-light);
  font-size: var(--large-font-size);
  font-weight: 500;
  text-shadow: var(--color-dark) 0 0 0.15rem;
  text-align: center;
}

.project-tech,
.project-tech a {
  font-style: italic;
  font-size: var(--small-font-size);
  align-self: flex-start;
  text-decoration: none;
  color: var(--color-dark);
  padding-top: 0.5rem;
  padding-left: var(--standard-spacing);
}

.project-tech span {
  font-style: normal;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: var(--color-dark) 0 0 0.25rem;
}

.project img {
  grid-area: screenshot;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  border: 3px solid var(--color-dark);
  border-radius: 3px;
}

.project-hero img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  justify-self: center;
  border: 3px solid var(--color-red);
  border-radius: 3px;
}

.article#contact-me,
.article#resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article#contact-me {
  margin-top: var(--standard-spacing);
}

.contact-me-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0.5rem 0.5rem;
}

/* Contact me links */
.contact-me-card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding-left: var(--standard-spacing);
  padding-right: var(--standard-spacing);
  padding-bottom: 0.5rem;
}

.contact-me-card-content p,
.contact-me-card-content a {
  font-size: var(--small-font-size);
  font-weight: 300;
  color: var(--color-light);
  margin-left: 0;
  text-decoration: none;
}

.contact-me-card-content a:hover {
  font-weight: 400;
  cursor: pointer;
}

.contact-me-card-icon,
.contact-me-card-icon svg {
  width: var(--svg-normal-size);
  height: var(--svg-normal-size);
  margin-right: var(--standard-spacing);
  fill: var(--color-blue);
}

.contact-me-card-icon a {
  margin-left: 0;
  padding: 0;
}

.contact-me-card-icon[data-is-link="true"]:hover svg {
  fill: var(--color-yellow);
  width: var(--svg-hovered-size);
  margin-right: 0.8rem;
  transform: rotate(8deg);
  cursor: pointer;
}

footer {
  padding: var(--standard-spacing);
  background-color: var(--color-light);
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
}

/* Respond to larger screens, especially keeping the navigation bar formatting correct */
@media screen and (min-width: 800px) {
  /* hide the navigation toggle */
  .nav-toggle-label {
    display: none;
  }

  /* format the navigation for large screens */
  .header-container {
    display: grid;
    height: var(--nav-height-large);
  
    /* logo on the left, navigation on the right */
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;
  }

  .logo-container {
    justify-content: flex-start;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    color: var(--color-red);
    font-size: var(--large-font-size);
    font-weight: 500;
    grid-column: 1;
    text-align: left;
    padding-left: 0.5em;
  }

  /* change properties to their inherited values or to their initial 
  values to ensure the navigation elements display correctly on older browsers */
  nav {
    all: unset;
  }

  /* display the navigation horizontally */
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav li {
    margin: 1em;
    border: none;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-size: var(--standard-spacing);
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--color-yellow);
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .main-aside {
    max-width: 25rem;
  }

  /* set up the main enclosing grid with the aside on top and the main portfolio section below */
  .main-grid {
    padding-top: var(--nav-height-large);
    display: flex;
    flex-flow: row nowrap;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }

  .main-portfolio {
    flex: 1 1 auto;
    max-width: var(--max-width);
  }

  .article-projects {
    width: auto;
  }
}

@media screen and (max-width: 319px) {
  .logo-tagline {
    display: none;
  }
}

/* largest screen sizing: change to a 2*4 grid to hold the projects
 with the hero project taking up 2 columns and 2 rows  */

@media screen and (min-width: 970px) {
  header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    display: grid;
    height: var(--nav-height-large);

    /* logo on the left, navigation on the right */
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;
  }

  .main-grid {
    padding-top: var(--nav-height-large);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* set up a grid for the main portfolio section */
  .article-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "hero hero"
      "project2 project3"
      "project4 project5";
    width: auto;
    column-gap: var(--standard-spacing);
  }

  /* the internals are flexbox, 2 elements side by side */
  .project-hero {
    grid-area: hero;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .project-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-dark);
    font-size: var(--normal-font-size);
    font-weight: 400;
    text-decoration: none;
  }

  .project-title {
    grid-area: title;
    color: var(--color-light);
    font-weight: 500;
    font-size: clamp(
      var(--normal-font-size),
      calc(50vw / 20),
      var(--large-font-size)
    );
    text-shadow: var(--color-dark) 0 0 0.25rem;
    align-self: center;
  }

  .project-tech,
  .project-tech a {
    font-style: italic;
    text-decoration: none;
    color: var(--color-dark);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }

  .project-tech span {
    font-style: normal;
    font-weight: 500;
    color: var(--color-light);
    text-shadow: var(--color-dark) 0 0 0.25rem;
  }

  .project img {
    grid-area: screenshot;
    max-width: 100%;
  }

  .project-description {
    font-size: var(--normal-font-size);
    column-width: 20rem;
  }

  /* set footer to same size as header and content on larger screens */
  footer {
    max-width: var(--max-width);
    margin: auto;
  }
}
