
/* Respond to larger screens */
@media screen and (min-width: 800px) {
    /* hide the navigation toggle */
    .nav-toggle-label {
      display: none;
    }
  
    
    /* format the navigation for large screens */
    .header-container {
      display: grid;
      height: var(--nav-height-large);


      /* logo on the left, navigation on the right */
      grid-template-columns: 1fr auto;
      column-gap: 0.5em;
    }
  
    .logo-container {
      margin: 0;
      padding-top: 0.75rem;
      padding-bottom: 0;
    }
  
    .logo {
      color: var(--color-red);
      grid-column: 1;
      text-align: left;
      padding-left: 0.5em;
  
      /* align-self: center; */
      font-weight: 400;
      font-size: 1.25rem;
    }
  
    .logo-tagline {
      display: none;
    }
  
    /* change properties to their inherited values or to their initial values */
    nav {
      all: unset;
    }
  
    /* display the navigation horizontally */
    nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    nav li {
      margin: 1em;
      
        border: none;
    }
  
    nav a {
      opacity: 1;
      position: relative;
      font-size: 1rem;
    
        
      }

    nav a::before {
      content: "";
      display: block;
      height: 5px;
      background: var(--color-yellow);
      position: absolute;
      top: 1.5em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
  
    nav a:hover::before {
      transform: scale(1, 1);
    }
  
    .main-aside {
      max-width: 20rem;
    }
  
    /* set up the main enclosing grid with the aside on top and the main portfolio section below */
    .main-grid {
      padding-top: var(--nav-height-large);
      display: flex;
      flex-flow: row nowrap;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .main-portfolio {
      flex: 1 1 auto;
      max-width: 1200px;
    }
    
    .article-projects {
      width: auto;
    }
  
    .logo-container {
      padding-top: 0.5rem;
      padding-bottom: 0;
    }
  
    .logo {
      font-size: 1.5rem;
    }
  
    .logo-tagline {
      display: inline-block;
    }
  
  } 
  
  @media screen and (max-width: 319px) {
    .logo-tagline {
      display: none;
    }
  }
  